html,
body {
	margin: 0;
	padding: 0;
	font-family: MonospaceTypewriter;
	font-size: 1.5em;
	color: white;
	background: black
}
button {
	margin: 0;
	padding: 0;
	font-family: MonospaceTypewriter;
	font-size: 1.5em;
	color: black;
	background: white
}
textarea {
	margin: 0;
	padding: 0;
	font-family: MonospaceTypewriter;
	font-size: 1.5em;
	color: black;
	background: white
}

input {
	margin: 0;
	padding: 0;
	font-family: MonospaceTypewriter;
	font-size: 1.5em;
	color: black;
	background: white
}
